.btn-login{
    background-color: $defaultGreen;
    color: $superWhite;   
}
.btn-login-inverse{
    background-color: $superWhite;
    color: $defaultGreen;   
}
.default-btn{
    font-size: $fontMd;
    padding: 4px 15px;
    &:hover{
        background-color: $defaultGrey;
    }
}

.btn-rate{
    border: 2px solid $defaultYellow;
    color: $mattBlack;
    &:hover{
        background-color: $defaultYellow;
    }
}