.cards-wrap{
     min-height: 400px;
}
.movie-card{
    background-color: $lightGrey;
    border: 2px solid $defaultGrey;
    .movie-poster{
        height: 145px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
    }
    .movie-title-wrap{
        height: 50px;
    }
    .movie-title{
        font-size: $fontLg;
        line-height: $fontLg;
        color: $mattBlack;
    }
    .movie-run{
        font-size: $fontMd;
        color: $defaultGreen;
    }
    .rating{
        .label{
            font-size: $fontMd;
            color: $mattBlack;
        }
      
    }
    .rating-badge{
        display: inline-block;
        background-color: $defaultGreen;
        color: $superWhite;
        font-size: $fontMd;
    }
    .rating-badge-user{
        display: inline-block;
        background-color: $defaultYellow;
        color: $shinyBlack;
        font-size: $fontMd;
    }
    .range-value{
        color: $defaultBlue;
        font-weight: bold;
    }
}