$defaultGreen: #00887a;
$defaultBlue: #1b486f;
$defaultGrey: #d0d0d0;
$lightGrey: #f5f5f5;
$superWhite: #ffffff;
$shinyBlack: #000000;
$mattBlack: #383838;

$fontLg: 23px;
$fontMd: 14px;
$fontSm: 10px;
